<p>
  Dear <%= @user.first_name %>,
</p>
<p>
  You have been assigned new questions to fill out regarding your buildings.
</p>
<p>
  <%= link_to('Click here to access your RMI dashboard', @url) %>
</p>
