<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to RMI, <%= @user.first_name %>!</h1>
<p>
  You have been assigned new tasks to fill out.
</p>
<p>
  <%= link_to('Click here to begin', @url) %>
</p>
</body>
</html>