<h2>Welcome to RMI, <%= @user.first_name %>!</h2>
<p>
	You have been assigned a portfolio! An account has been created for you on
	the RMI dashboard, where you can check your pending tasks.
</p>
<p>
	<%= link_to('Please click here to begin', @url) %>
</p>
