@import "global";

.building__container {

}

.building__row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.5s;

  h3, p {
    margin: 0 0 0 0;
  }

  p {
    color: $secondary;
  }
}

.building__link a {
  background-color: $primary;
  color: white;
  box-sizing: border-box;
  width: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 3px;
}

.building__row:hover {
  background-color: $backgroundGray;
}

// for the building operator view
.building_list_container {
  background-color: $backgroundGray;
  //TODO make the boxes appear in grid form
}

.building_view {
  margin: 40px;
  width: 400px;
  height: 500px;
  padding: 50px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
}

.link {
  height: 100px;
  text-align: center;
  border-radius: 3px;
  background-color: $primary;
  color: white;
  font-size: 26px;
  font-family: BlinkMacSystemFont;
}

.link:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 15px $secondary;
}

.building_view_info {
  padding: 90px;
}