@import "global";

.building__row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.5s;

  h3, p {
    margin: 0 0 0 0;
  }

  p {
    color: $secondary;
  }
}

.building__link a {
  background-color: $primary;
  color: white;
  box-sizing: border-box;
  width: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 3px;
}

.building__row:hover {
  background-color: $backgroundGray;
}

// for the building operator view
.building_list_container {
  background-color: lighten($backgroundGray, 28.5);
  position: absolute;
  top: 0px;
  left: 0px;
  h1 {
    font-size: 40px;
    font-weight: 300px;
    padding: 30px;
    padding-bottom: 20px;
  }
}
.building_list {
  background-color: $backgroundGray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.building_view {
  margin: 30px;
  width: 400px;
  padding: 45px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 3px #ccc;

  .building_view_info {
    padding: 90px;
  }
}

.building_title {
  font-size: 28px;
  font-weight: 600;
}

.building_address {
  font-size: 15px;
  color: darken($secondary, 10);
  font-weight: 400;
}

.continue-button {
  height: 50px;
  border-radius: 3px;
  background-color: $primary;
  font-size: 26px;
  font-family: BlinkMacSystemFont;
  .continue-link {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }
}


.continue-link:hover {
  text-decoration: none;
  color: white;
}

.continue-button:hover {
  box-shadow: 0 5px 15px $secondary;
}


.questionnaire-category-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 40px;

}

.vertical-bus-map {
  position: relative;
  top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

  .vertical-line {
    border-left: 6px solid $primary;
    height: calc(100% - 50px);
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

  .category-circle {
    position: relative;
    top: -25px;
    background-color: $primary;
    color: white;
    width: 50px;
    height: 50px;
    margin: 15px 0px 15px 0px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-weight: bold;
    font-family: sans-serif;
  }
}

.category-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    margin: 15px 0px 15px 0px;
    height: 50px;
    width: 200px;
    font-size: 15pt;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    font-weight: 500;
    line-height: 50px;
    text-align: start;     
    small {
      font-size: 12px;
      font-weight: 400;
      color: darken($secondary, 10);
    }
  }
  .with_answer_data {
    line-height: 25px;
  }
}

.notification-bar {
    position: relative;
    width: 400px;
    height: 40px;
    top: -45px;
    left: -45px;
    background: $primary;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
    font-family: BlinkMacSystemFont;
}


// for portfolio view
.portfolio__container {
  position: relative;
  top: -15px;
  .portfolio__header {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(33, 109, 255, 0.02);
    height: 110px;

    h2 {
      font-size: 27px;
    }
  }

}
.building__types {
  margin: 4%;
  width: 20%;
  div {
    padding-bottom: 30px;
    h3 {
    font-size: 24px;
    }
  }
}

.building__names {
  cursor: pointer;
  
  div{
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 200px;
    vertical-align: middle;
    .dot {
      margin-right: 10px;
      height: 14px;
      width: 14px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transform: translateY(1px);
    }
  }

  .active {
    background-color: $primary;
    // background-color: #216DFF; color in figma
    color: white;
  }
}

.dot {
  margin-right: 10px;
  height: 14px;
  width: 14px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(1px);
}

.dot.yellow {
  background-color: #FFD028;
}
.dot.green {
  background-color: #03CE17;
}

.building__container {
  display: flex;
  flex-direction: row;
}

.building_details {
  margin: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 0 4px #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 5px;
  padding: 40px;
}

.building_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > :first-child {
    width: 50%;
  }

  div {
    a {
      padding-left: 20px;
    }

    h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }
}

.building_category_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 0px 40px 40px 40px;
}


// main table
.portfolio_category_info {
  width: 100%;
  margin: 0px;
  
  .cat_names {
    margin-top: 20px;
  
    th {
      padding-left: 15px; 
      text-align: left;
    }
  }
}
