@import "global";

.building__container {

}

.building__row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.5s;

  h3, p {
    margin: 0 0 0 0;
  }

  p {
    color: $secondary;
  }
}

.building__link a {
  background-color: $primary;
  color: white;
  box-sizing: border-box;
  width: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 3px;
}

.building__row:hover {
  background-color: $backgroundGray;
}

// for the building operator view
.building_list {
  background-color: $backgroundGray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  //TODO make the boxes appear in grid form
}

.building_view {
  margin: 30px;
  width: 25%;
  padding: 50px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
}

.continue-button {
  height: 50px;
  border-radius: 3px;
  background-color: $primary;
  font-size: 26px;
  font-family: BlinkMacSystemFont;
  .continue-link {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }
}


.continue-link:hover {
  text-decoration: none;
  color: white;
}

.continue-button:hover {
  box-shadow: 0 5px 15px $secondary;
}

.building_view_info {
  padding: 90px;
}

.questionaire-category-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 12%,
    $primary 12%,
    $primary 15%,
    rgba(255, 255, 255, 0) 15%
  );
}

.category-circle {
  background-color: $primary;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-weight: bold;
  font-family: sans-serif;
}

.questionaire-category-container div{
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  font-size: 20pt;
}

//TODO: need to vary div size based on number of categories