$icon-font-path: "@blueprintjs/core/resources/icons";

$primary: #4C85FF;
$secondary: #969696;
$hover: rgba($primary, 0.6);
$backgroundGray: #f4f4f4;
$tableGray: #d8d8d8;
$titleGray: #494949;
$inputBorder: 2px solid $secondary;
$inputLabel: #a1a0a0;
$vibrantPrimary: #4C85FF;
$disabledTextGray: #828282;
$disabledBgGray: #c7c7c7;

$borderPrimary: 2px solid $vibrantPrimary;
$background-primary: lighten($primary, 25);

$param-font: Consolas 12px;

body {
  background-color: white;
  font-family: BlinkMacSystemFont, -apple-system, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  margin: 0px;
}

h1 {
  font-size: 38px;
  text-align: center;
  color: $titleGray;
}

.btn {
  border-radius: 3px;
  padding: 5px 20px 5px 20px;
  font-weight: 700;
  font-size: 12pt;
  border: none;
  transition: 0.25s all;
  position: relative;
  cursor: pointer;
}

.btn::selection {
  background: none;
}

.btn::after {
  content: "";
  border-radius: 3px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn:hover::after {
  opacity: 0.2;
}

.btn--primary {
  background-color: $vibrantPrimary;
  color: white;
  font-weight: 900;
}

.btn--primary:hover {
  background-color: darken($vibrantPrimary, 10);
  border: none;
}

.primary-btn-sizing {
  border-radius: 5px;
  width: 125px;
  height: 45px;
}

.primary-btn-sizing {
  border-radius: 5px;
  width: 125px;
  height: 45px;
}

.btn--secondary {
  background-color: lighten($secondary, 30);
  color: $secondary;
}

.btn--secondary:hover {
  background-color: lighten($secondary, 27.5);
  border: none;
}

.btn--neutral {
  color: $vibrantPrimary;
  line-height: 3em;
  padding: 5px 10px;
  text-decoration: none;
  position: relative;
  margin-bottom: 4px;
  text-align: center;
}

.btn--neutral:hover {
  text-decoration: none;
}

.btn--neutral::after {
  width: 90%;
  height: 3px;
  background-color: $vibrantPrimary;
  border-radius: 20px;
  content: "";
  opacity: 1;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100 !important;
}

.btn--neutral:hover::after {
  background-color: darken($vibrantPrimary, 20);
  opacity: 1;
}

.btn--neutral:hover {
  color: darken($vibrantPrimary, 20);
}

input,
textarea {
  outline: none;
  font-size: 14pt;
  border: 2px solid $secondary;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.2s ease all;
}

input:active, 
textarea:active {
  border: 2px solid transparent;
}
input:hover,
textarea:hover {
  border-color: desaturate($vibrantPrimary, 50);
}

input:focus,
textarea:focus {
  background-color: white;
  outline: none;
  border: $borderPrimary;
  // TODO see if this is ok
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input::placeholder,
textarea::placeholder {
  color: lighten($secondary, 27.5);
}

input::text-align {
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:hover,
textarea:focus:hover {
  border: 2px solid $vibrantPrimary;
}

label {
  color: $inputLabel;
}

.input-label {
  font-family: BlinkMacSystemFont, -apple-system, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 900;
}

.field {
  padding: 5px;
}

.actions {
  padding: 5px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  outline: none;
  font-size: 14pt;
  border: 2px solid $secondary;
  border-radius: 5px;
  background-color: white;
  height: 27px;
  width: 27px;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  border: 2px solid $hover;
}

input[type="checkbox"]:checked {
  background-color: $vibrantPrimary;
  border: 2px solid $secondary;
}

input[type="checkbox"]:checked:hover {
  border: 2px solid $hover;
}

.blur-placeholder:focus {
  placeholder: none;
}
