@import "global";

.navbar {
  background-color: lighten($primary, 28.5);
}

.navbar__logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 90px;
  }
  margin-top: 10px;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px 40px 40px;
  padding-left: 0px;
}

.navbar__category-container {
  // width: 80%;
  flex: 4;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 48%,
    $primary 48%,
    $primary 52%,
    rgba(255, 255, 255, 0) 52%
  );
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar__dropdown-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 60px;
  // width: 20%;
  flex: 1;
}

.navbar__dropdown-container h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.navbar__dropdown {
  width: 100%;
  border-color: skyblue;
  background-color: white;
  height: 30px;
}

.category__info {
  height: 100px;
  width: 250px;
  position: absolute;
  top: 50px;
}

.category--active p {
  display: block;
  font-family: BlinkMacSystemFont;
  position: absolute;
  color: gray;
  width: 200px;
  left: 170px;
  font-weight: 100;
}

.category__info > p {
  @media (max-width: 1000px) {
    display: none !important;
  }

  @media (min-width: 1000px) {
    position: absolute;
    left: 225px;
    top: 15px;
    width: 300px;
  }
}

.category--active h3 {
  font-family: BlinkMacSystemFont;
  color: gray;
  font-size: 10pt;
  width: 200px;
  line-height: 1.5;
  margin-top: 3px;
}

.category h1 {
  font-family: BlinkMacSystemFont;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20pt;
  width: 150px;
  line-height: 1.25;
}

.category--inactive h1 {
  top: 60px;
  font-size: 12pt;
  font-weight: 400;
  color: gray;
  width: 100px;
  line-height: 1.5;
  position: absolute;
}

.category__circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
}

.category--active {
  flex: 2;
  position: relative;
  height: 50px;
}

.category__container--finished {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.category__container--inactive {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.category--inactive {
  position: relative;
  height: 50px;
  flex: 1;
  max-width: 100px;
}

.category--active .category__circle {
  background-color: $primary;
  box-shadow: 0 5px 10px rgba($secondary, 0.5);
  color: white;
}

.category--inactive .category__circle {
  background-color: lightgray;
  color: gray;
}

.menu {
  height: 40px;
  width:100%;
  color: white;
  background-color: lighten(black, 20);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.menulink {
  color: white;
  background-color: lighten(black, 20);
  margin: 0px 10px 0px 10px;
  padding: 0px;
  text-decoration: underline;
  line-height: 3em;
}

.menulink::after {
  box-shadow: none;
}

.logout-btn {
  border: none;
  font-size: 14px;
}

.logout-btn:hover,
.menulink:hover {
  color: $primary;
  cursor: pointer;
}

.linkmargins {
  margin-left: 10px;
}
