@import "global";

.building_type_details {
  display: flex;
  flex-direction: column;

  padding: 40px;

  > :first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;    
  }
}


 .portfolio_view_table {
 	width: 100%;
  margin: 0px;
  border-collapse: collapse;

  tr td:first-child { 
    border-top-left-radius: 7px; 
    border-bottom-left-radius: 7px;
  }

  tr td:last-child { 
    border-top-right-radius: 7px; 
    border-bottom-right-radius: 7px;
  }
 }

 .table_data {
  .field_name {
    font-size: 16px;
    font-weight: 600;
  }
  
  .field_status {
    font-size: 16px;
    font-weight: 400;
  }
}
