@import "global";

input:focus {
  outline: 0;
}

p {
  margin:0;
}

textarea {
  font-size: 16pt;
}

input {
  font-size: 14px;
}

.questionnaire-form-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.remove_category_btn {
  font-weight: 500;
  height: 40px;
  margin-top: 10px;
}

.mega-question-block {
  border: $border-primary;
  border-radius: 5px;
  background-color: $background-primary;
  margin-top: 10px;
}

.question_block {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .question_block__param {
    font-size: 10pt;
    font-family: Consolas;
    width: auto;
    margin-bottom: 5px;
    background-color: transparent;
    min-width: 150px;
    width: 20%;
    content-box: border-box;
    border: 2px solid transparent;
  }

  .question_block__param:focus{
    border: $inputBorder;
    border-radius: 5px;
    background-color: white;
  }
}

.question_block_header {
  display: flex;
  .remove_question_btn {
    padding: 0;
    width: 30px;
    height: 30px;
    margin-left: auto;
  }
}

.question_block__body {
  display: flex;
  flex-direction: row;
  content-box: border-box;
  border: 2px solid transparent;
  border-radius: 5px;
}

.question_block__body__main {
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 4;
  padding: 10px;

  textarea {
    width: 100%;
    border: 2px solid white;
    margin-bottom: 15px;
  }

  textarea:focus {
    border: $inputBorder;
  }
}

.question_block__body__support {
  flex: 1;
  background-color: $backgroundGray;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 10px 0px;

  border: 1px solid $backgroundGray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  button {
    border: $border-primary;
    border-radius: 2px;
    background-color: transparent;
    color: $primary;
    width: 65%;
    padding: 3px;
    margin-bottom: 10px;

  }
}

.dep-q-block {
  margin-left: 40px;
  background-color: $backgroundGray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dep-q-block__option {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dep-q-block__selected {
  border-left: 3px solid $primary;
  padding: 20px;
}

.dep-q-block__option-display {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  * {
    align-self: center;
  }

  button {
    margin-left: 5px;
  }

  .dep-option-display-block {
    display:flex;
    flex-direction: row;
    * {
      align-self: center;
    }
  }

  .selected-option {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: $background-primary;
    // border: 1px solid $primary;
    border-radius: 20px;
    margin-left: 5px;
  }
}

.option-display-block {
  counter-reset: section;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5px;


  .option-display-block__counter {
    display: flex;
    flex-direction: row;
  }

  .option-display-block__counter:before {
    counter-increment: section;
    content: counter(section);
    font-size: 14px;
    margin-right: 10px;
  }

  button {
    border: 2px $primary solid;
    border-radius: 50px;
    background-color: $primary;
    text-align: center;
    padding: 3px 15px 3px 15px;
    color: white;
    font-weight: bold;
    width: 75px
  }
}


.dropdown-input {
  flex: 1;
  input {
    border:0;
    border-radius: 0px;
    padding:0;
    display:inline-block;
    width: auto;
  }
  border-bottom: 1px solid white;

  input:focus {
    border:0;
    background-color: white !important;
    outline:0;
  }
}

.dropdown-input:after {
  display:block;
  content: '';
  border-bottom: solid 2px $primary;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.dropdown-input:focus-within:after {
  transform: scaleX(1);
  transform-origin:  0% 50%;
}

.dropdown-input:hover {
  border-bottom: 1px solid lightgray;
}



.range-input {
  padding: 5px;
  margin-bottom: 10px;

  div {
    align-self: center;
  }

  p {
    margin:0;
    display: none;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  content-box: border-box;
  border: 2px solid transparent;
  border-radius: 20px;
  width: 150px;

  input {
    width: 50px;
    border: 0px;
    border-radius:0;
    background-color: $backgroundGray;
  }

  #filler {
    visibility: hidden;
  }
  transition: flex-grow 0.4s ease;
}

.range-input:hover {
  border: solid 2px $background-primary;
}

.range-input:focus-within {
  border: solid 2px $primary;
  border-radius: 5px;
  width: 150px;
  transition: border-color 250ms ease-in-out;
  p {
    display: flex;
    transition: flex 400ms ease;
  }
}
