@import "global";

.question__container {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.question {
  margin-top: 10px;
  padding: 5px 20px 5px 20px;
  border-left: 3px solid $secondary;
  transition: transform 0.5s;
  transition: all 0.5s;
}

.question > p {
  margin: 0 0 0 0;
  margin-bottom: 10px;
  font-size: 16pt;
}

.questions__nested {
  margin-bottom: 10px;
}

.question--selected {
  border-left: 3px solid $primary;
  transform: translateX(5px);
}

.question--error {
  animation: 1.5s ease error-pulse;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes error-pulse {
  0% {
    border-left: 3px solid #ff3f3f;
  }

  100% {
    border-left: 3px solid #fca037;
  }
}

.question--completed {
  // border-left: 3px solid
}

.question--in-review {
  border-left: none;

  p {
    margin-bottom: 0px;
  }
}

.status__container p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 8.5pt;
  color: $secondary;
}

.status__container--error p {
  color: red;
}

.status__retry {
  text-decoration: underline;
  color: $primary;
  cursor: pointer;
  font-weight: 700;
}

input,
textarea {
  outline: none;
  font-size: 14pt;
  border: 2px solid $secondary;
  border-radius: 5px;
  padding: 5px;
}

input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus,
textarea:focus,
.input__range.input__range--focused {
  border: 3px solid $primary;
}

.input__text textarea {
  width: 100%;
}

.input__text--disabled textarea {
  background-color: $disabledBgGray;
  color: $disabledTextGray;
  border: none;
  disabled: true;
}

.input__range {
  display: inline-block;
  outline: none;
  font-size: 14pt;
  border: 2px solid $secondary;
  border-radius: 5px;
  padding: 5px;
  min-width: 200px;

  span {
    outline: none;
    // min-width: 50px;
    float: left;
    display: inline-block;
    margin-right: 5px;
  }

  label {
    float: right;
    color: $secondary;
  }
}

.input__range--disabled {
  background-color: $disabledBgGray;
  color: $disabledTextGray;
  pointer-events: none;
  border: none;
}

.input__dropdown {
  min-width: 75px;
  padding: 7.5px 10px 7.5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid $primary;
  color: $primary;
  font-size: 14pt;
  transition: all 0.25s ease;
}

.input__dropdown--selected {
  color: white;
  background-color: $primary;
}

.input__dropdown--disabled {
  color: $disabledTextGray;
  border: none;
  background-color: $disabledBgGray;
}

.next-button {
  width: 30%;
  min-width: 250px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  background-color: $primary;
  color: white;
  font-size: 16px;
  font-family: BlinkMacSystemFont;
  margin-top: 15px;
  margin-bottom: 15px;
}

.next-button--submit {
  font-weight: 800;
}

.next-button:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 15px $secondary;
}
