@import "global";

.category__flex {
  display: flex;
  align-items: center;
  padding-top: 40px;
  font-family: BlinkMacSystemFont;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.category__header {
  display: flex;
  align-items: center;
  font-family: BlinkMacSystemFont;
  justify-content: flex-start;
}
.category__header .category__number {
  background-color: $primary;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  font-weight: bold;
}

.category__header .category__description {
  height: 110px;
  position: absolute;
  top: 50px;
  justify-content:center;
  color: $secondary;
  width: 200px;
  left: 170px;
  font-weight: 100;

}

.category__header .category__name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13pt;
  width: 200px;
  justify-content: center;
  align-items: center;
  line-height: 1.25;
  color: black;
  font-weight: 700;
  padding-left: 10px;

}
.category__flex .btn .btn--secondary {
  justify-content: flex-end;
}