@import "global";

p.delegation__label {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10pt;
  margin-bottom: 2.5px;
  letter-spacing: 1px;
  color: $secondary;
}

.delegation__card {
  display: flex;
  border: 2px solid $secondary;
  max-width: 350px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.delegation__card_info {
  h3 {
    margin-bottom: 0;
    font-size: 14pt;
  }

  p {
    margin-bottom: 0;
    font-size: 12pt;
    color: $secondary;
  }
}

.delegation__card_change {
  height: 35px;
}
