$icon-font-path: "@blueprintjs/core/resources/icons";

$primary: #6893FF;
$secondary: #969696;
$backgroundGray: #f4f4f4;
$inputBorder: 2px solid $secondary;

$border-primary: 2px solid $primary;
$background-primary: lighten($primary, 25);

$param-font: Consolas 12px;

body {
  background-color: white;
  font-family: BlinkMacSystemFont, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


*:focus {
  outline: transparent;
}
