$icon-font-path: "@blueprintjs/core/resources/icons";

$primary: #6893FF;
$secondary: #969696;
$backgroundGray: #f4f4f4;

body {
  background-color: white;
  font-family: BlinkMacSystemFont, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
}

.btn {
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  font-weight: 700;
  font-size: 10pt;
  border: none;
}

.btn::selection {
  background: none;
}

.btn--primary {
  background-color: $primary;
  color: white;
}

.btn--secondary {
  background-color: lighten($secondary, 30);
  color: $secondary;
}
