@import "global";

.mega-question-block {
  border: $border-primary;
  border-radius: 5px;
  background-color: $background-primary;
}

.question_block {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .question_block__param {
    font-size: 10pt;
    font-family: Consolas;
    width: auto;
    margin-bottom: 5px;
    background-color: transparent;
    min-width: 150px;
    width: 20%;
    content-box: border-box;
    border: 2px solid transparent;
  }

  .question_block__param:focus{
    border: $inputBorder;
    border-radius: 5px;
    background-color: white;
  }
}

.question_block__body {
  display: flex;
  flex-direction: row;
  content-box: border-box;
  border: 2px solid transparent;
  border-radius: 5px;
}

.question_block__body__main {
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 4;
  padding: 10px;

  textarea {
    width: 100%;
    border: 2px solid white;
  }

  textarea:focus {
    border: $inputBorder;
  }
}

.question_block__body__support {
  flex: 1;
  background-color: $backgroundGray;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 10px 0px;

  border: 1px solid $backgroundGray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  button {
    border: $border-primary;
    border-radius: 2px;
    background-color: transparent;
    color: $primary;
    width: 65%;
    padding: 3px;
    margin-bottom: 10px;

  }
}

.dep-question-block {
  margin-left: 40px;
}

.option-display-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  ol li {
    padding-left: 5px;
  }

  .option-display-block__add-option {
    border: 2px $primary solid;
    border-radius: 50px;
    background-color: $primary;
    text-align: center;
    padding: 3px 15px 3px 15px;
    color: white;
    font-weight: bold;
    width: 75px
  }
}


.dropdown-input {
  input {
    border:0;
    border-radius: 0px;
    padding:0;
    display:inline-block;
    width: auto;
  }
  border-bottom: 1px solid white;
  margin-bottom: 5px;

  input:focus {
    border:0;
    background-color: white !important;
  }
}


  //input::after {
  //  display:block;
  //  content: '';
  //  border-bottom: solid 2px $primary;
  //  transform: scaleX(0);
  //  transition: transform 250ms ease-in-out;
  //  transform-origin:  0% 50%;
  //}

  //input:focus::after { transform: scaleX(1); }

.dropdown-input:after {
  display:block;
  content: '';
  border-bottom: solid 2px $primary;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.dropdown-input:focus-within:after {
  transform: scaleX(1);
  transform-origin:  0% 50%;
}

.dropdown-input:hover {
  border-bottom: 1px solid lightgray;
}

