@import "global";

.mega-question-block {
  border: $border-primary;
  border-radius: 5px;
  background-color: $background-primary;
}

.question_block {
  display: flex;
  flex-direction: column;
  padding: 5px;

  .question_block__param {
    font-size: 10pt;
    font-family: Consolas;
    width: auto;
    margin-bottom: 5px;
    background-color: transparent;
    min-width: 150px;
    width: 20%;
    content-box: border-box;
    border: 2px solid transparent;
  }

  .question_block__param:focus{
    border: $inputBorder;
    border-radius: 5px;
    background-color: white;
  }

  input {
    margin-bottom: 10px;
  }
}

.question_block__body {
  display: flex;
  flex-direction: row;
  content-box: border-box;
  border: 2px solid transparent;
  border-radius: 5px;
}

.question_block__body__main {
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 4;
  padding: 10px 0 10px 10px;

  textarea {
    width: 100%;
    border: 2px solid white;
  }

  textarea:focus {
    border: $inputBorder;
  }
}

.question_block__body__support {
  flex: 1;
  background-color: $backgroundGray;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 10px 0px;

  border: 1px solid $backgroundGray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  button {
    border: $border-primary;
    border-radius: 2px;
    background-color: transparent;
    color: $primary;
    width: 60%;
    padding: 3px;
    margin-bottom: 10px;
  }
}

.dep-question-input {
  margin-left: 20px;
}

.dropdown-input {
  display:inline-block;
  border: 2px solid black;
  width: auto;
  border-radius: 50px;
  text-align: center;
  
  .dropdown-block:focus {
    background-color: white;
    width: 80%;
  }
}
