@import "global";

table {
  margin: auto;
}

tr {
  height: 30px;
}

td:nth-child(odd) {
  font-family: BlinkMacSystemFont;
  font-weight: 500;
}

td:nth-child(even) {
  font-family: BlinkMacSystemFont;
  font-weight: 100;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: $tableGray;
}


